.elementor-2 .elementor-element.elementor-element-7bd27c8 {text-align: center;}
.elementor-2 .elementor-element.elementor-element-0596f76 {text-align: center;}
@media (max-width:767px) {.elementor-2 .elementor-element.elementor-element-7bc756d {margin-top: -59px;margin-bottom: -12px;padding: 0px 0px 0px 0px;}}