.elementor-40 .elementor-element.elementor-element-5b2590b.elementor-widget-heading .elementor-heading-title {color: #070707;}
.elementor-40 .elementor-element.elementor-element-3ac830f > .elementor-container {max-width: 553px;}
.elementor-40 .elementor-element.elementor-element-6b258e1 > .elementor-container {max-width: 560px;}
.elementor-40 .elementor-element.elementor-element-6e32ae6 > .elementor-container {max-width: 560px;}
.elementor-40 .elementor-element.elementor-element-d0518bd > .elementor-container {max-width: 560px;}
@media (max-width:767px) {.elementor-40 .elementor-element.elementor-element-b5fcbfa {margin-top: -28px;margin-bottom: -28px;}
	.elementor-40 .elementor-element.elementor-element-5b2590b {text-align: center;}}